@font-face {
  font-family: "bold";
  src: url("./font/Pretendard-Bold.woff");
}
@font-face {
  font-family: "extra bold";
  src: url("./font/Pretendard-ExtraBold.woff");
}
@font-face {
  font-family: "medium";
  src: url("./font/Pretendard-Medium.woff");
}
@font-face {
  font-family: "regular";
  src: url("./font/Pretendard-Regular.woff");
}
@font-face {
  font-family: "semibold";
  src: url("./font/Pretendard-SemiBold.woff");
}
